openapi: 3.1.0
info:
  title: Marriott Developer Availability API
  description: The Marriott Developer API provides programmatic access to Marriott International's hotel and property systems. The API enables integration with Marriott's Central Reservation System for property search, availability lookup, and booking management across Marriott's portfolio of hotel brands worldwide.
  version: '1.0'
servers:
- url: https://devportalprod.marriott.com
tags:
- name: Availability
  description: Check room availability and rates.
paths:
  /availability:
    get:
      operationId: checkAvailability
      summary: Check room availability
      description: Check room availability and rates for a specified property and date range.
      tags:
      - Availability
      parameters:
      - name: propertyId
        in: query
        required: true
        description: The unique property identifier.
        schema:
          type: string
      - name: checkIn
        in: query
        required: true
        description: Check-in date.
        schema:
          type: string
          format: date
      - name: checkOut
        in: query
        required: true
        description: Check-out date.
        schema:
          type: string
          format: date
      - name: guests
        in: query
        description: Number of guests.
        schema:
          type: integer
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://devportalprod.marriott.com/oauth/token
          scopes:
            properties:read: Read property information
            reservations:write: Create and manage reservations
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
