openapi: 3.1.0
info:
  title: Marriott Developer Availability Properties API
  description: The Marriott Developer API provides programmatic access to Marriott International's hotel and property systems. The API enables integration with Marriott's Central Reservation System for property search, availability lookup, and booking management across Marriott's portfolio of hotel brands worldwide.
  version: '1.0'
servers:
- url: https://devportalprod.marriott.com
tags:
- name: Properties
  description: Search and retrieve hotel property information.
paths:
  /properties:
    get:
      operationId: searchProperties
      summary: Search properties
      description: Search for Marriott hotel properties by location, brand, amenities, and other criteria across the global portfolio.
      tags:
      - Properties
      parameters:
      - name: location
        in: query
        description: City or geographic location to search.
        schema:
          type: string
      - name: brand
        in: query
        description: Filter by Marriott brand code.
        schema:
          type: string
      - name: radius
        in: query
        description: Search radius in miles.
        schema:
          type: number
      responses:
        '200':
          description: Success
  /properties/{propertyId}:
    get:
      operationId: getProperty
      summary: Get property details
      description: Retrieves detailed information about a specific Marriott hotel property including amenities, location, and contact details.
      tags:
      - Properties
      parameters:
      - name: propertyId
        in: path
        required: true
        description: The unique property identifier.
        schema:
          type: string
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://devportalprod.marriott.com/oauth/token
          scopes:
            properties:read: Read property information
            reservations:write: Create and manage reservations
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
